a {
  color: inherit;
}

a:hover {
  filter: brightness(85%);
}

.title-header {
  grid-column: span 3 / span 3;
}

.main-content {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  max-width: 1024px;
  min-width: 350px;
  margin: 0 auto;
}

.log {
  grid-column: span 3 / span 3;
  width: 100%;
  height: 250px;
  max-width: 600px;
  white-space: pre-wrap;
  font-size: x-large;
  font-weight: bold;
  background-color: rgb(35, 30, 40);
  padding: 18px;
  border-radius: 12px;
}

.choice-chance {
  color: orange;
  font-weight: bold;
  font-size: x-large;
  position: relative;
}

.choice-chance::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid orange;
  z-index: 10;
}

.choice-0 {
  opacity: 0%;
}

.choice-1 {
  grid-column: 1/1;
}

.choice-2 {
  grid-column: 2/2;
}

.choice-3 {
  grid-column: 3/3;
}

.door {
  height: 8rem;
  width: 4rem;
  background-color: rgb(104, 50, 6);
  border-radius: 4px;
  font-weight: bold;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  grid-row-start: 4;
  user-select: none;
  position: relative;
}

.opened.door {
  background-color: rgb(156, 0, 0);
}

.other-chance {
  grid-row: 5/5;
  font-weight: bold;
  color: green;
  font-size: x-large;
}

.other-0 {
  opacity: 0%;
}

.other-1 {
  grid-column: 2 / span 2;
}

.other-2 {
  grid-column: span 3 / span 3;
}

.other-3 {
  grid-column: 1 / span 2;
}

.door::before {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid green;
  display: none;
}

.other.door:not(.opened.door)::before {
  display: block;
}

.continue {
  grid-row: 6/6;
  grid-column: span 3 / span 3;
  margin-top: 3rem;
  padding: 4px 16px;
  height: 48px;
  width: 128px;
  font-size: large;
  font-weight: bold;
  border: solid rgb(68, 68, 68) 4px;
  border-radius: 12px;
}

.continue:hover {
  filter: brightness(90%);
}

.continue:active {
  filter: brightness(85%);
}

.hidden {
  opacity: 0%;
  height: 0;
}
